Repository rom-dem/star-wars-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --max-warnings=0",
  "*.{ts,tsx,scss,json,md}": "prettier --write"
}

Add an image for each category
  public/deafult.webp
  public/films.webp
  public/people.webp
  public/planets.webp
  public/species.webp
  public/starships.webp
  public/vehicles.webp
Due: none

Create switch function to add category to the src of an image
  src/components/ItemCard/ItemCard.tsx
  src/components/ItemsList/ItemsList.tsx
  src/pages/index.tsx
  src/utils/getCategoryImage/getCategoryImage.ts
Due: eslint --max-warnings=0, prettier --write

Test function
  src/components/ItemCard/ItemCard.tsx
  src/utils/getCategoryImage/getCategoryImage.test.ts
Due: eslint --max-warnings=0, prettier --write

Modify image path within ItemCard component
  src/components/ItemCard/ItemCard.tsx
Due: eslint --max-warnings=0, prettier --write

Modify Loader component styles
  src/components/Loader/Loader.module.scss
  src/styles/Home.module.scss
Due: prettier --write

Add e2e testing with cypress
  cypress.config.ts
  cypress/e2e/nextPage.cy.ts
  cypress/e2e/starshipCategory.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/components/Pagination/Pagination.tsx
Due: eslint --max-warnings=0, prettier --write

Update README file
  README.md
  public/desktop-screenshot.webp
  public/phone-screenshot.webp
  public/tablet-screenshot.webp
Due: prettier --write
