Repository rom-dem/star-wars-wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Add husky hooks to check commits
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Add github actions workflows for code audit, testing and sonar
  .github/workflows/audit.yaml
  .github/workflows/sonar.yaml
  .github/workflows/testing.yaml
  sonar-project.properties
Due: none

Create Api connection, add api endpoints with types
  package-lock.json
  package.json
  src/api/apiClient/apiClient.ts
  src/api/apiClient/apiEndpoints.ts
  src/api/types.ts
Due: eslint --max-warnings=0, prettier --write

Add getItems function
  src/api/getItems/getItems.ts
Due: eslint --max-warnings=0, prettier --write

Add useApi custom hook and getItems function
  package-lock.json
  package.json
  src/hooks/useApi.ts
  src/pages/_app.tsx
Due: eslint --max-warnings=0, prettier --write

Add mocks for testing
  package-lock.json
  package.json
  src/api/apiClient/apiEndpoints.ts
  src/mocks/handlers.ts
  src/mocks/itemsMocks.ts
  src/mocks/server.ts
Due: eslint --max-warnings=0, prettier --write

Test useApi hook
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  sonar-project.properties
  src/api/getItems/getItems.ts
  src/hooks/useApi.test.ts
  src/hooks/useApi.ts
Due: eslint --max-warnings=0, prettier --write

Refactor useApi custom hook
  package-lock.json
  package.json
  src/api/getItems/getItems.ts
  src/api/types.ts
  src/hooks/useApi.test.ts
  src/hooks/useApi.ts
  src/mocks/handlers.ts
  src/mocks/itemsMocks.ts
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

Create getItems function to get data from Api
  src/api/apiClient/apiClient.ts
  src/api/apiClient/apiEndpoints.ts
  src/api/getItems/getItems.ts
Due: eslint --max-warnings=0, prettier --write

Test getItems function
  jest.setup.js
  src/api/getItems/getItems.test.ts
  src/mocks/handlers.ts
Due: eslint --max-warnings=0, prettier --write

Modify useApi custom hook to use getItems function
  src/hooks/useApi.ts
Due: eslint --max-warnings=0, prettier --write

Test useApi custom hook
  src/hooks/useApi.test.ts
Due: eslint --max-warnings=0, prettier --write

Create ItemCard component
  src/components/ItemCard/ItemCard.tsx
Due: eslint --max-warnings=0, prettier --write

Add styles to ItemCard component
  src/components/ItemCard/ItemCard.module.scss
Due: prettier --write

Test ItemCard component
  jest.config.js
  package-lock.json
  package.json
  src/components/ItemCard/ItemCard.test.tsx
  src/components/ItemCard/ItemCard.tsx
  src/mocks/itemsMocks.ts
  src/pages/_document.tsx
Due: eslint --max-warnings=0, prettier --write

Create ItemsList component
  src/components/ItemsList/ItemsList.tsx
Due: eslint --max-warnings=0, prettier --write

Add styles to ItemsList component
  src/components/ItemsList/ItemsList.module.scss
Due: prettier --write

Test ItemsList component
  src/api/types.ts
  src/components/ItemCard/ItemCard.module.scss
  src/components/ItemsList/ItemsList.test.tsx
  src/mocks/itemsMocks.ts
Due: eslint --max-warnings=0, prettier --write

Create CategoriesMenu component
  src/api/apiClient/apiEndpoints.ts
  src/api/getItems/getItems.test.ts
  src/api/types.ts
  src/components/CategoriesMenu/CategoriesMenu.tsx
  src/hooks/useApi.test.ts
  src/mocks/handlers.ts
Due: eslint --max-warnings=0, prettier --write

Add styles to CategoriesMenu component
  src/components/CategoriesMenu/CategoriesMenu.module.scss
  src/styles/globals.scss
Due: prettier --write

Test CategoriesMenu component
  src/components/CategoriesMenu/CategoriesMenu.test.tsx
Due: eslint --max-warnings=0, prettier --write

Nest rulesets in ItemCard styles
  src/components/ItemCard/ItemCard.module.scss
Due: prettier --write

Create createTestContainer function. Ignore same files as in local
  sonar-project.properties
  src/components/CategoriesMenu/CategoriesMenu.test.tsx
  src/components/ItemCard/ItemCard.test.tsx
  src/components/ItemsList/ItemsList.test.tsx
  src/utils/testUtils/testUtils.ts
Due: eslint --max-warnings=0, prettier --write

Add styles to HomePage
  jest.config.js
  public/characters.webp
  sonar-project.properties
  src/components/CategoriesMenu/CategoriesMenu.module.scss
  src/components/CategoriesMenu/CategoriesMenu.tsx
  src/components/ItemCard/ItemCard.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
Due: eslint --max-warnings=0, prettier --write

Fix minor issues with images not being shown and make side bar sticky
  src/components/CategoriesMenu/CategoriesMenu.module.scss
  src/components/CategoriesMenu/CategoriesMenu.tsx
  src/components/ItemCard/ItemCard.tsx
Due: eslint --max-warnings=0, prettier --write

Pass categories as props on the side bar buttons
  src/components/CategoriesMenu/CategoriesMenu.tsx
Due: eslint --max-warnings=0, prettier --write

Add title as props to the ItemCard for the films titles to be displayed
  src/api/types.ts
  src/components/ItemCard/ItemCard.tsx
Due: eslint --max-warnings=0, prettier --write

Add onClick action to the side bar buttons. Add a loader to give feed back to the user
  .husky/commit-msg
  src/pages/index.tsx
  src/styles/Home.module.scss
Due: eslint --max-warnings=0, prettier --write

Add missing properties to the CategoriesMenu test
  src/components/CategoriesMenu/CategoriesMenu.test.tsx
Due: eslint --max-warnings=0, prettier --write

Test Home page
  src/__test__/pages/index.test.tsx
Due: eslint --max-warnings=0, prettier --write

Modify key value for a unique id in CategoriesMenu
  package-lock.json
  package.json
  src/components/CategoriesMenu/CategoriesMenu.tsx
Due: eslint --max-warnings=0, prettier --write

Add meta description to html document and add title as a alt text to films images
  src/components/ItemCard/ItemCard.tsx
  src/pages/index.tsx
Due: eslint --max-warnings=0, prettier --write

Add page prop to getItems function and useApi custom hook
  src/api/getItems/getItems.ts
  src/hooks/useApi.ts
Due: eslint --max-warnings=0, prettier --write

Add pagination functionality. Add previous property to types. Create dataUtils and initialStateValues
  src/api/types.ts
  src/pages/index.tsx
  src/utils/dataUtils/dataUtils.ts
Due: eslint --max-warnings=0, prettier --write

Create Pagination component
  src/components/Pagination/Pagination.tsx
  src/pages/index.tsx
Due: eslint --max-warnings=0, prettier --write

Add styles to Pagination component
  src/components/Pagination/Pagination.module.scss
Due: prettier --write

Test Pagination component
  src/components/Pagination/Pagination.test.tsx
Due: eslint --max-warnings=0, prettier --write

Add colors as a variable in scss files
  src/components/CategoriesMenu/CategoriesMenu.module.scss
  src/components/ItemCard/ItemCard.module.scss
  src/components/ItemCard/ItemCard.test.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: eslint --max-warnings=0, prettier --write

Add media query to css styles
  src/components/CategoriesMenu/CategoriesMenu.module.scss
  src/components/ItemCard/ItemCard.module.scss
  src/components/Pagination/Pagination.module.scss
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: prettier --write

Create Loader component with a spinner
  src/components/ItemCard/ItemCard.tsx
  src/components/ItemsList/ItemsList.tsx
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,scss,json,md}
